h2{
   text-align: center;
   padding: 12px;
}
#container{
    background-color: antiquewhite;
    height: 83vh;
}
.myform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.myInput{
    padding: 15px;
    margin: 5px;
    width: 500px;
    font-size: 15px;
    outline: none;
}
.btn{
    font-size: 20px;
    margin: 10px;
    color: aliceblue;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(7, 7, 124);
}
.btn:hover{
    background-color: rgb(25, 25, 179);
}